# Java / Maven
target/
*.class
*.jar
*.log

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Ortam degiskenleri
.env
*.env.local
firebase-service-account.json

# Flutter/Dart
**/doc/api/
**/ios/Flutter/.last_build_id
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.pub-cache/
**/.pub/
**/build/
